.scroll-pane > .viewport {
   -fx-background-color: #e3e3e3;
}
.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-bar .increment-button {
  visibility: hidden;
}
.scroll-bar .decrement-button {
  visibility: hidden;
}
.scroll-bar:horizontal {
  -fx-background-color: #e3e3e3;
}
.scroll-bar:horizontal .track-background {
  visibility: hidden;
}
.scroll-bar:horizontal .track {
  visibility: hidden;
}
.hide-thumb .scroll-bar:horizontal .thumb {
  -fx-background-color: #e3e3e3;
}